@use "reset";
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap');

* {
  box-sizing:border-box;
}

body {
  min-height: 100vh;
  min-height: 100svh;
  display: grid;
  place-items:center;
  background: hsl(0 0% 95%);
}

.wrapper {
  width: min(500px, 100% - 50px);
}

.modal {
  position: fixed;
  inset:0;
  background: hsl(0 0% 0% / .8);
  z-index:999;
  display: none;
  &.active {
    display: block;
  }
}

.music-player {
  display: grid;
  color: hsl(0 0% 100%);
  font-family: 'Roboto', sans-serif;
  aspect-ratio:16/9;
  input {
    cursor:pointer;
  }
  img {
    width: 100%;
    aspect-ratio:3/2;
    object-fit:cover;
  }
  & > * {
    grid-area:1/1;
  }
  &:hover :is(.controls, .current-song) {
    opacity:1;
    transition:opacity .3s;
  }
  .current-song {
    background: hsl(0 0% 0% / .8);
    align-self:start;
    padding: 10px;
    opacity:0;
    transition:opacity 2s cubic-bezier(1, 0, 1, 0.54);
    &.hidden {
      display: none;
    }
  }
  .playlist {
    display: none;
    justify-self:end;
    background: hsl(0 0% 0% / .8);
    overflow-y:auto;
    scrollbar-gutter: stable;
    max-width:60%;
    li {
      padding: 5px;
      user-select:none;
      cursor:pointer;
      display: flex;
      align-items: center;
      gap:10px;
      .album-cover-small {
        width: 70px;
        aspect-ratio:16/9;
      }
    }
    &.active {
      display: block;
    }
  }
  .pause-overlay {
    place-self:center;
    font-size: 3rem;
    background: hsl(0 0% 0% / .8);
    width: 80px;
    aspect-ratio:1;
    place-items:center;
    border-radius: 50%;
    display: none;
    &.active {
      display: grid;
      scale:.5;
      animation:fade-out .5s linear forwards;
    }
  }
  .controls {
    align-self:end;
    background: hsl(0 0% 0% / .8);
    opacity:0;
    transition:opacity 2s cubic-bezier(1, 0, 1, 0.54);
    .extra-controls {
      display: flex;
      align-items:center;
      .volume-control {
        position: relative;
        &:hover .volume-input {
          height: 100px;
        }
        .volume-input {
          position: absolute;
          top:0;
          left:50%;
          height:0;
          width: fit-content;
          overflow:hidden;
          translate:-50% -100%;
          transition:height .1s;
          .slider-bg {
            background: hsl(0 0% 0% / .8);
            width: 100%;
            height: 95%;
            position: relative;
            border-radius: 5px;
            padding: 10px;
          }
          [type="range"] {
            writing-mode: bt-lr;
            -webkit-appearance: slider-vertical;
            appearance:slider-vertical;
            width: 15px;
            height: 100%;
            accent-color:red;
          }
        }
      }
      button {
        cursor:pointer;
        color:inherit;
        background: none;
        padding: 5px 10px;
        border:none;
        width: 40px;
      }

    }
    &.hidden {
      display: none;
    }
    .progress {
      display: flex;
      align-items:center;
      gap:5px;
      padding-inline:10px;
      font-size: 0.8rem;
      input {
        flex:1;
        padding: 0;
        margin: 0;
        accent-color:red;
      }
    }
    .buttons {
      display: flex;
      padding-right:10px;
      button {
        cursor:pointer;
        color:inherit;
        background: none;
        padding: 5px 10px;
        border:none;
        width: 40px;
      }
    }
  }
}

[type="file"] {
  position: absolute;
  width: 0;
  height: 0;
  opacity:0;
}

.upload-form {
  background: hsl(0 0% 100%);
  padding: 10px;
  display: flex;
  flex-direction:column;
  gap:20px;
  width: min(500px, 100% - 50px);
  position: absolute;
  top:0;
  left:50%;
  translate:-50% -100%;
  animation:move-down-form .3s linear forwards;
  h1 {
    font-size: clamp(2rem, 1.619rem + 1.5238vw, 3rem);
    font-family: arial;
    text-align:center;
  }
  .upload-area {
    aspect-ratio:4/2;
    display: grid;
    place-items:center;
    border:6px dashed hsl(200 100% 50%);
    cursor:pointer;
    padding: 10px;
  }
  .btn {
    width: min(150px, 100%);
    margin-inline:auto;
    padding-block:10px;
    border:none;
    outline:none;
    background: hsl(200 100% 50%);
    font-weight: bold;
    text-transform:uppercase;
    border-radius: 5px;
    color: hsl(0 0% 100%);
    cursor:pointer;
    transition:box-shadow .3s;
    &:is(:focus-within, :hover) {
      box-shadow:0 0 10px hsl(0 0% 0% / .8);
    }
  }
}

@keyframes fade-out {
  100% {
    opacity:0;
    scale:1;
  }
}

@keyframes move-down-form {
  100% {
    top:50%;
    translate:-50% -50%;
  }
}